body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main{
    max-width: 800px;
}
img{
    height: 300px;
}
div{
    display: flex;
}
td, th{
    border: 1px solid black;
    width: 800px;
    padding: 5px 15px;
}
#cadastro{
    width: 100%;
}
#cadastro table{
    width: 50%;
}
#results{
    display: flex;
    justify-content: flex-end;
}
#results{
    display: flex;
    justify-content: flex-end;
}
#results td,#results th{
    width: auto;
}
